body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: gray;
    font-weight: normal;
    font-size: 21px;
}

.center_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center_logo {

}

.links {
    color: aquamarine;
    font-weight: normal;
    font-size: 16px;
}

.copyright {
    color: gray;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
}