body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Headings */

.header-1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

.header-2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}

.header-3 {
    color: gray;
    font-weight: normal;
    font-size: 21px;
}

/* Links */

.links {
    color: aquamarine;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

/* Others */

.copyright {
    color: gray;
    font-weight: normal;
    font-size: 16px;
    text-align: right;
}